body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a5eb64;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #9bf6ff;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.2),
      -2px -2px 5px rgba(255, 255, 255, 0.7);
    max-width: 350px;
  }
  
  #display {
    width: 87.5%;
    height: 80px;
    text-align: right;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 40px;
    background-color: #f0f0f0;
    box-shadow: inset 20px 20px 10px rgba(0, 0, 0, 0.1),
      inset -3px -3px 8px rgba(255, 255, 255, 0.7);
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  button {
    width: 90%;
    height: 65px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.2),
      -2px -2px 4px rgba(255, 255, 255, 0.7);
  }
  
  button:active {
    box-shadow: inset 10px 10px 7px rgba(0, 0, 0, 0.2),
      inset -3px -3px 8px rgba(255, 255, 255, 0.7);
  }
  
  .number {
    background: linear-gradient(145deg, #c1d3fe, #bdb2ff);
  }
  
  .operator {
    background: linear-gradient(145deg, #fb7b77, #f55c6e);
    color: #fff;
  }
  
  .control {
    background: linear-gradient(145deg, #8e98f5, #64b5f6);
    color: #fff;
  }
  
  .equal {
    background: linear-gradient(145deg, #bbd700, #00ffba);
    color: #fff;
    grid-column: span 2;
  }
  
  button:hover {
    transform: translateY(-5px);
  }
  
  button:active {
    transform: translateY(0px);
  }